﻿@model IEnumerable<WebApplication1.Models.DataBase.Coment> 


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
    </tr>

}
</table>
